* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 1rem 1rem;
  background-color: #f1f0f0;
  font-size: 1.1rem;
}
@font-face {
  font-family: "Nixie";
  src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "InterBold";
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "AlegSans";
  src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
  font-family: "AlegSC";
  src: url(../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf);
}

body {
  font-family: "Inter";
}

h2 {
  font-family: "AlegSans";
  font-size: 2.8rem !important;
  color: #3a4f52;
}

b {
  font-family: "InterBold";
}

h3 {
  font-family: "AlegSans";
  font-size: 2rem;
  color: #3a4f52;
}

a {
  text-decoration: none;
  color: #3a4f52;
}

a:hover {
  color: white;
}

.btn-view {
  padding: 1rem 2rem;
  background-color: #f1f0f0;
  color: #3a4f52;
  border: solid 1px #3a4f52;
  font-size: 1.1rem;
  margin: 2rem 0;
}

.btn-view:hover {
  background-color: #3a4f52;
  color: #ffffff;
  cursor: pointer;
}

/* ! Christian */

/* Header */
/* Navbar */
header {
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4rem;
}

.logo {
  font-family: "AlegSC";
  font-size: 2rem;
  color: white;
}

/* HERO */

.hero {
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Nixie";
  font-size: 6rem;
  font-weight: 50;
}

.hero p {
  font-family: "AlegSC";
  font-size: 2rem;
  font-weight: 100;
  opacity: 0.5;
}

/* Our latest Works */
.works {
  display: flex;
  justify-content: space-between;
  margin: 6rem 10rem;
}
.text-wrap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.text-wrap p {
  color: #6a6a6a;
}

.gallery {
  margin: 3rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.row {
  display: flex;
  gap: 3rem;
}

.row img {
  width: 30vw;
}

.container {
  position: relative;
  overflow: hidden;
  width: 30vw;
}

.gallery-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img2 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img3 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img4 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img5 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img6 {
  height: 30vh;
  object-fit: cover;
  background-image: url(../img/bild7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery-btn {
  display: none;
  padding: 2% 3%;
  color: white;
  background-color: Transparent;
  border: 1px solid white;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
  background-color: #02383abc;
  background-blend-mode: overlay;
  transition-duration: 1s;
  transform: scale(1.5);

  .gallery-btn {
    display: flex;
  }
}
.gallery-btn:hover {
  color: #3a4f52;
  background-color: white;
}

/* Our Services */
.service {
  background-image: url(../img/kam-idris-_HqHX3LBN18-unsplash.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
  margin: 6rem 0;
  background-attachment: fixed;
}
.layer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(210, 31%, 24%, 0.327);
  margin: 10rem 10rem;
  height: 50vh;
}

.layer-top {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.layer-top h2 {
  font-family: "AlegSans";
  font-size: 2.6rem;
  color: #ffffff;
}

.icons {
  display: flex;
  justify-content: center;
  color: white;
  gap: 3rem;
  text-align: center;
}
.icons h3 {
  color: white;
  margin-bottom: 1rem;
}

.icons p {
  text-align: center;
  padding: 0 2rem;
}

.icon_solo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

/* Contact */

.contact {
  background-image: url(../img/footer.png);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 6rem 0 0 0;
  background-attachment: fixed;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(210, 31%, 24%, 0.327);
  margin: 6rem 10rem;
  height: 50vh;
  width: 100%;
}

.contact-top {
  color: #f1f0f0;
  margin-bottom: 4rem;
}

.contact-top h2 {
  color: #f1f0f0;
}

form {
  width: 45vw;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 30vw;
  padding: 1rem 2rem;
  color: #f1f0f0;
  border: solid #f1f0f0 2px;
  background: none;
  border-radius: 8px;
}

.submit {
  font-size: 1.1rem;
  width: 8vw;
  padding: 1rem 2rem;
  color: #f1f0f0;
  border: solid #f1f0f0 2px;
  background: none;
}

.submit:hover {
  font-size: 1.1rem;
  width: 8vw;
  padding: 1rem 2rem;
  color: #3a4f52;
  border: solid #3a4f52 2px;
  background-color: #f1f0f0;
  cursor: pointer;
}

::placeholder {
  font-size: 1.1rem;
  color: #f1f0f0;
}

/* Footer */
footer {
  background-color: #2b3e51;
  color: white;
  height: 9rem;
}

footer p {
  padding: 4rem 10rem;
}

/* ! Julian */

/* From The Blog */

.blog1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 2rem 10rem;
}

.gallery-blog {
  display: flex;
  margin: 2rem 10rem;
  gap: 1.5rem;
}

.text-wrap1 {
  line-height: 2.5rem;
}

.gallery-blog div h3,
p {
  margin-bottom: 0.8rem;
}

.gallery-blog h3 {
  margin-top: 0.5rem;
  color: #3a4f52;
}

.gallery-blog p {
  color: #6a6a6a;
}

.gallery-blog a {
  text-decoration: none;
  color: #4da7ca;
}

.gallery-blog img {
  width: 30vw;
}

/* Testimonials */

.bg-test {
  background-image: url(../img/toa-heftiba-FV3GConVSss-unsplash.jpg);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.testlayer {
  height: 30vh;
  padding: 0.8rem 0.8rem;
  background-color: hsla(210, 31%, 24%, 0.327);
  margin: 3rem 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.testlayer p {
  /* width: 50vw;
    height: 5vh;
     */
  margin-bottom: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2.8rem;
  font-family: "AlegSans";
}

.testlayer button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 1.2rem;
  width: 12vw;
  font-size: 1.2rem;
}

.testlayer button:hover {
  color: #6a6a6a;
  background-color: white;
  cursor: pointer;
}

.testlayer button a {
  color: #f1f0f0;
}
.testlayer button a:hover {
  color: #3a4f52;
}

.test-wrap {
  display: flex;
  margin: 0 10rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.test-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #6a6a6a;
}

.personwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  text-align: center;
  color: #6a6a6a;
}

.personwrap img {
  margin-bottom: 1rem;
}

.bold {
  font-family: "Inter";
  font-weight: 600;
}

/* ! MEDIA QUERRIES */

/* Tablet */
@media only screen and (max-width: 768px) {
  header {
    height: 40vh;
  }

  .hero {
    height: 15vh;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.3rem;

    opacity: 0.7;
  }

  .works {
    margin: 2.1rem 1rem;
  }
  .gallery {
    margin: 1rem 1rem;
    gap: 1.5rem;
  }

  .row {
    gap: 1.5rem;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    height: 15vh;
    width: auto;
  }

  /* Service */
  .layer-frame {
    margin: 4rem 1rem;
    height: 65vh;
  }

  .layer-top {
    gap: 0.7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .icons {
    flex-direction: column;
    gap: 0.7rem;
  }

  .icon_solo {
    height: 16vh;
  }

  .icons img {
    width: 6%;
  }
  .icons h3 {
    margin-bottom: 0.5rem;
  }
  .icons p {
    font-size: 0.8rem;
  }
  /* From The Blog */
  .blog1 {
    margin: 1rem 1rem;
  }

  .gallery-blog {
    margin: 1rem 1rem;
    gap: 1.5rem;
  }

  /* Testimonial */

  .testlayer {
    height: 30vh;
    padding: 0.8rem 0.8rem;
    margin: 1rem 1rem;
  }
  .testlayer p {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "AlegSans";
  }
  .testlayer button {
    width: 24vw;
    padding: 1rem;
  }

  .test-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    gap: 2.5rem;
  }
  .personwrap {
    width: 80vw;
  }

  /* Contact */

  .contact {
    background-image: url(../img/footer2.png);
    background-position: center;
    height: 55vh;
    margin: 5rem 0 0 0;
  }

  .contact-wrap {
    position: relative;
    top: 1rem;
    margin: 5rem 1rem;
    height: 40vh;
    width: 96%;
  }

  .contact-top {
    color: #f1f0f0;
    margin-bottom: 1rem;
  }

  form {
    width: 75vw;
    gap: 1rem;
  }
  input {
    width: 85vw;
    border-radius: 8px;
  }

  .submit {
    font-size: 1.1rem;
    width: 21vw;
    padding: 1rem 1rem;
    color: #f1f0f0;
    border: solid #f1f0f0 2px;
    background: none;
  }
  .submit:hover {
    width: 21vw;
  }

  /* Footer */

  footer p {
    padding: 1.5rem 1rem;
  }
}

/* !HANDY */

/* Handy  IPhone 11PRO*/
@media only screen and (max-width: 375px) {
  body {
    margin: 0.2rem 0.2rem;

    font-size: 0.8rem;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.9rem;
  }

  .btn-view {
    padding: 0.7rem 0.4rem;
    position: relative;
    bottom: 1.7rem;
  }

  /* header */
  header {
    height: 72vh;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Navbar */
  nav {
    padding: 1.2rem 1.8rem;
  }

  /* HERO */

  .hero {
    height: 80vh;
    color: white;
    display: flex;
  }

  .hero h1 {
    font-size: 2.7rem;
    font-weight: 50;
    position: relative;
    bottom: 7.5rem;
  }

  .hero p {
    font-size: 1.1rem;
    font-weight: 100;
    position: relative;
    bottom: 7rem;
  }
  /* Our latest Works */

  .works {
    margin: 2.1rem 1rem;
  }
  .gallery {
    margin: 1rem 1rem;
    gap: 1.5rem;
  }

  .row {
    gap: 1.5rem;
    flex-direction: column;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    height: 25vh;
  }

  .container {
    width: 90vw;
  }

  /* Service */
  .service {
    height: 105vh;
  }

  .layer-frame {
    margin: 3rem 0rem;
    height: 90vh;
    width: 100vw;
  }

  .layer-top {
    gap: 0.7rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .icons {
    flex-direction: column;
    gap: 0.7rem;
  }

  .icon_solo {
    height: 22vh;
  }

  .icons img {
    width: 15%;
  }
  .icons h3 {
    margin-bottom: 0.5rem;
  }
  .icons p {
    font-size: 0.8rem;
  }

  .blog1 {
    margin: 1rem 1rem;
  }

  .gallery-blog {
    flex-direction: column;
    margin: 1rem 1rem;
    gap: 1.5rem;
  }

  .gallery-blog img {
    width: 90vw;
  }

  /* Testimonials */
  .bg-test {
    margin-top: 8rem;
    height: 85vh;
    background-position: center;
  }

  .testlayer {
    height: 75vh;
    padding: 0.8rem 0.8rem;
    margin: 1rem 0rem;
  }
  .testlayer p {
    margin-bottom: 5rem;
    font-size: 2.2rem;
    font-family: "AlegSans";
  }
  .testlayer button {
    width: 54vw;
    padding: 1rem;
  }
  .test-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    gap: 2.5rem;
  }

  .test-top {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .personwrap {
    width: 80vw;
    line-height: 170%;
  }
  .bold {
    line-height: 1em;
  }

  /* Contact */

  .contact {
    height: 82vh;
    margin: 5rem 0 0 0;
  }

  .contact-wrap {
    position: relative;
    top: 5rem;
    margin: 5rem 0rem;
    height: 75vh;
    width: 99vw;
  }

  .contact-top {
    margin-top: 1rem;
    position: relative;
    bottom: 5rem;
  }

  .contact-top h2 {
    margin-bottom: 1rem;
  }

  form {
    position: relative;
    bottom: 4rem;
  }

  .submit {
    width: 32vw;
    padding: 1rem 1rem;
    margin-top: 1rem;
  }
  .submit:hover {
    width: 32vw;
    padding: 1rem 1rem;
    margin-top: 1rem;
  }

  /* Footer */

  footer p {
    padding: 1.5rem 1rem;
    width: 40vw;
    line-height: 180%;
  }
}

/* Handy  */
@media only screen and (max-width: 576px) {
}
